## Question 1

In [5]:
my_tuple = ((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])

for x in my_tuple:
    print(x)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

In [6]:
new_tuple = my_tuple[0] + tuple(my_tuple[-1]) 

print(new_tuple)

(1, 2, 3, 7, 8, 9)

## Question 2

In [16]:
inventory = {
    "The Great Gatsby": {"price": 10.99, "quantity": 5},
    "Rich dad poor dad": {"price": 8.99, "quantity": 8},
    "Harry Potter": {"price": 12.50, "quantity": 2},
}

new_book = "The Artist"
inventory[new_book] = {"price": 9.99, "quantity": 0}

print(inventory)

{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, 'The Artist': {'price': 9.99, 'quantity': 0}}

In [17]:
inventory.keys()

dict_keys(['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', 'The Artist'])

In [20]:
out_of_stock = []
for title, info in inventory.items():
    if info['quantity'] == 0:
        out_of_stock.append(title)

for title in out_of_stock:
    del inventory[title]

print(inventory)

{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}}

In [21]:
print(inventory)

{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}}

## Question 3

In [23]:
products = {
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30}
}

products[102]["stock"] += 50

products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30}}

In [24]:
products[104] = {
    "name": "Smartphone",
    "category": "Electronics",
    "price": 699,
    "stock": 100
}

products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30},
 104: {'name': 'Smartphone',
  'category': 'Electronics',
  'price': 699,
  'stock': 100}}

## Question 4

In [25]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

list_to_set = set(shopping_list)

list_to_set

{'apple', 'banana', 'grape', 'orange'}

## Question 5

In [34]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

difference_a_b = course_a - course_b

symmetric_difference = course_a ^ course_b

print("Students in Course A but not in Course B:", difference_a_b)
print("Students only in one of the two courses:", symmetric_difference)

Students in Course A but not in Course B: {'John', 'Bob'}
Students only in one of the two courses: {'Bob', 'Charlie', 'John', 'Eve'}

## Question 6

In [64]:
sum_of_evens = 0

for numbers in range(1, 51):
    if numbers % 2 == 0:
        sum_of_evens += number

print("The sum of all even numbers between 1 and 50 is:", sum_of_evens)

The sum of all even numbers between 1 and 50 is: 1250

## Question 7

In [50]:
num = int(input("Enter a number between 1 and 10: "))

if 1 <= num <= 10:
    for i in range(1, 11):
        product = num * i
        print(f"{num} x {i} = {product}")
else:
    print("Please enter a number between 1 and 10.")

Enter a number between 1 and 10:  9

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

## Question 8

In [61]:
numb = int(input("Enter a number between 1 and 10: "))

if 1 <= numb <= 10:
    for i in range(1, 11):
        prod = numb ** i
        print(f"{numb} ^ {i} = {prod}")
else:
    print("Please enter a number between 1 and 10.")

Enter a number between 1 and 10:  2

2 ^ 1 = 2
2 ^ 2 = 4
2 ^ 3 = 8
2 ^ 4 = 16
2 ^ 5 = 32
2 ^ 6 = 64
2 ^ 7 = 128
2 ^ 8 = 256
2 ^ 9 = 512
2 ^ 10 = 1024

## Question 9

In [96]:
number = int(input("Enter a number to start the countdown: "))

if 1 <= number <= 30:
    for i in range(number,-1,-1):
        print(i)

    print("Countdown Finished!")
else:
    print("Please enter a number between 1 and 30.")

Enter a number to start the countdown:  6

6
5
4
3
2
1
0
Countdown Finished!

In [104]:
n = int(input("Enter a number of stars you want: "))

for i in range(1, n + 1):
    print("*" * i)

Enter a number of stars you want:  33

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************
*************************
**************************
***************************
****************************
*****************************
******************************
*******************************
********************************
*********************************